html {
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #fff;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header h1 {
  font-size: 1.125rem;
}

header img {
  width: 2rem;
  padding: 1rem;
  order: -1;
}

li {
  padding: .75em 1em .6em;
}

header {
  display: flex;
  background-color: #e2e2e2;
  align-items: center;
  justify-content: space-between;
}

body {
  margin: 0;
}

nav ul {
  display: flex;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #0074d9;
}

nav a:hover {
  color: #000;
  margin: auto;
}

header p {
  margin: .5rem;
}
